.horizontal-form .form-row {
  display: flex;
  align-items: end;
  gap: 1rem;
}

.horizontal-form .form-field {
  flex: 1;
  margin-bottom: 0;
}

.horizontal-form .submit-btn {
  flex-shrink: 0;
}

// .addbar-todo .form-select {
//   color: $fond-button;
//   background-color: white;
//   border: solid !important;
//   border-left-color: $fond-button !important;
//   border-top-color: $fond-button !important;
//   border-bottom-color: $fond-button !important;
// }

.addbar-todo
  .input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
    .valid-feedback
  ):not(.invalid-tooltip):not(.invalid-feedback) {
  color: $fond-button;
  background-color: white;
  border: solid !important;
  border-top-color: $fond-button !important;
  border-bottom-color: $fond-button !important;
}
