<div class="flight-index-title">
  <h1>Mes vols</h1>
</div>

<div class="flight-index-container">
  <% if @flights.any? %>
    <% @flights.each do |flight| %>
      <div class="flight-index-card">
        <div class="flight-index-card-photo">

        </div>
        <div class="flight-index-card-info">
          <p><%= flight.takeoff_time.strftime("%d/%m/%Y") %></p>
          <p><%= flight.destination %></p>
        </div>
        <div class="flight-index-card-button">
          <%= link_to "Voir", flight_path(flight)  %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h4>Aucun vol</h4>
  <% end %>
    <div class="flight-index-add-button">
        <%= link_to "+", new_flight_path %>
    </div>
</div>
