<div class="accordion accordion-flush" id="accordionFlushExample">



  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        <%= @admin.name %>
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <ul class="list-group">
          <% @tasks.where(category: @admin).each do |task| %>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckboxStretched">
              <label class="form-check-label stretched-link" for="firstCheckboxStretched"><%= task.content %></label>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
