<h1 class= "MainTitle">Ma To Do</h1>

<div class="taskcontainer">
  <%= render 'new', task: @task %>

  <% if @tasks.empty? %>
    <p>Vous n'avez pas encore de tâches dans votre do list...</p>
  <% else %>
    <%= render 'list', task: @task %>
  <% end %>
</div>
