<% if notice %>
  <div class="alert alert-light border border-primary alert-dismissible fade show m-1 border-3" style="border-radius: 100px" data-controller="notices" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-light border border-primary alert-dismissible fade show m-1 border-3" style="border-radius: 100px" data-controller="notices" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
