<div class="pages-point-title">
  <h1>Mes points </h1>
  <h1>ONTIME</h1>
</div>
<div class="pages-point-container">
  <div class="pages-point-left">
    <p><%= current_user.first_name %></p>
    <div class="point-logo">
      <h1><%= current_user.point %></h1><%= image_tag "Avion-logo.png" %>
    </div>
    <p>POINTS</p>
  </div>
  <div class="pages-point">
    <p>À utiliser au DutyFree :</p>
  </div>
</div>
<div class="pages-point-middle">
  <p>10 pts = 1 €</p>
</div>
<div class="pages-point-partenaire">
  <h2>Nos partenaires :</h2>

    <div class="partenaire-display">
      <img src="https://www.polygone.com/image/280x167-force/ea062fcbab2afaa3d1c63fa716178eea/business/business_91_1.png" alt="">
      <img src="https://www.bordeaux.aeroport.fr/sites/default/files/styles/308w/public/pim/commerce/logo/5c0653c7809d3_relay.png?itok=f0D-N8K1" alt="">
      <img src="https://www.bordeaux.aeroport.fr/sites/default/files/styles/308w/public/pim/commerce/logo/5c068563cc36b_aelia-dutyfree.png?itok=sygsAeIs" alt="">
    </div>
    <div class="partenaire-display">
      <img src="https://www.bordeaux.aeroport.fr/sites/default/files/styles/308w/public/pim/commerce/logo/5c069c99c6857_caneles-baillardran.png?itok=-7qIxos3" alt="">
      <img src="https://www.bordeaux.aeroport.fr/sites/default/files/styles/308w/public/pim/commerce/logo/5c0662bd5ceab_aelia-beaute.png?itok=2qjDeTyD" alt="">
      <img src="https://www.bordeaux.aeroport.fr/sites/default/files/styles/308w/public/pim/commerce/logo/6425464be6eed_LogoFnac_CMJN.JPG?itok=znL6c3yJ" style="height: 100px" alt="">
    </div>
    <div class="partenaire-display">
      <img src="https://static.vecteezy.com/system/resources/previews/022/636/385/non_2x/starbucks-logo-starbucks-icon-transparent-free-png.png" alt="">
      <img src="https://files.iqcmanager.com/stores/1740483642720-logo-factory.PNG" alt="">
      <img src="https://logodownload.org/wp-content/uploads/2014/04/mcdonalds-logo-0.png" style="height: 100px" alt="">
    </div>

</div>
