<div class="accordion-container">
  <div class="app-title">
    <h1>Ma To Do</h1>
    <p>Votre kit pré-voyage</p>
  </div>
  <%= render 'new', task: @task %>
    <%= render 'list', task: @task %>
</div>
