// ------------------------------------------------------------------TITLE
.flight-show-title {
	display: flex;
	justify-content: center;
	padding-top: 30px;
	h1 {
		text-align: center;
		font-size: 32px;
		font-weight: 800;
	}
}

// .shadow-bottom {
// 	background: white;
// 	box-shadow: 1 4px 6px rgba(185, 0, 0, 0.3) !important;
// 	margin-bottom: 25px;
// 	height: 1px;
// }

// ------------------------------------------------------------------TACHES ET ALERTES
// .flight-show-task-container-border {
//   border: solid;
//   border-color: $fond-button;
//   border-radius: 15px;
//   width: 350px;
//   display: flex;
//   justify-content: center;
// }
// ------------------------------------------------------------------TACHES
.icon-ticket-flight {
	margin-right: 0px;
}

.flight-show-task-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flight-show-task-title {
	display: flex;
	justify-content: space-between;
	width: 350px;
	p {
		font-weight: bold;
	}
}

.flight-show-task-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 340px;
	gap: 8px;
	padding: 8px 8px;
	a {
		display: flex;
		text-align: center;
		text-decoration: none;
		font-size: 12px;
		height: 40px;
		width: 260px;
		border-radius: 10px;
		background-color: $fond-card;
		padding: 8px 8px;
	}
}

.flight-show-task-link-items {
	height: 50px;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 12px;
}

.fondTaskAd {
	a {
		border: $Administratif 2px solid;
	}
}
.fondTaskVa {
	a {
		border: $Mavalise 2px solid;
	}
}
.fondTaskPa {
	a {
		border: $Avantdepartir 2px solid;
	}
}

.span {
	position: absolute;
	left: 10px;
	height: 37px;
	p {
		font-size: 16px;
		margin-top: 7px;
		margin-left: 5px;
		color: white;
	}
}

.spanAd {
	background-color: $Administratif;
	border-radius: 15px 0 0 15px;
}
.spanVa {
	background-color: $Mavalise;
}
.spanPa {
	background-color: $Avantdepartir;
	border-radius: 0 15px 15px 0;
}
.span-white {
	position: absolute;
	left: 10px;
	background-color: rgb(255, 255, 255);
	height: 40px;
	width: 302px;
	border-radius: 17px;
	border: solid 2px black;
}

// ------------------------------------------------------------------ALERTES
.flight-show-alert-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
}

.flight-show-alert-title {
	display: flex;
	width: 350px;
	justify-content: space-between;
	p {
		font-weight: bold;
	}
}

.flight-show-alert-card-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.flight-show-alert-card {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	height: 40px;
	width: 260px;
	background-color: $fond-card;
	border: $blue 2px solid;
	border-radius: 10px;
	p {
		margin: 0;
	}
}

.flight-show-alert-card-vote {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	gap: 30px;
	button {
		border: none;
		border-radius: 5px;
		background-color: $fond-button;
		width: 40px;
		height: 40px;
	}
	i {
		font-size: 24px;
		transition: ease-out 0.2s;
	}
	button:hover i {
		font-size: 20px;
	}
}

.flight-show-alert-form-display {
	padding: 20px 0;
	button {
		height: 40px;
		width: 260px;
		border: none;
		border-radius: 25px;
		background-color: $fond-button;
	}

	p {
		font-size: 26px;
		margin-bottom: 8px;
		color: white;
		font-weight: 500;
	}
}

.show-form-hidden {
	display: none;
}

.show-flight-alert-form {
	margin-bottom: 30px;

	label {
		color: black;
	}

	input#alert_content {
		border: 2px solid $blue;
	}
	input[type="submit"] {
		border: 2px solid $fond-button;
		background-color: $fond-button;
		color: white;
		border-radius: 25px;
		margin-left: 80px;
	}
	input[type="submit"]:hover {
		border: 2px solid $blue;
		background-color: $fond-button;
		color: white;
	}
	/* style du bouton "Signaler" */
}

.show-flight-alert-disable {
	background-color: gray;
}
// ------------------------------------------------------------------HORAIRES
.flight-show-main-card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
	position: relative;
	z-index: 1;
}
.flight-show-main-card-info {
	display: flex;
	justify-content: space-around;
	gap: 20px;
	background-color: $fond-card;
	border-radius: 15px 15px 0 0;
	width: 324px;
	padding: 20px;
}
.flight-show-main-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Inter", sans-serif !important;
	h2 {
		font-size: 16px;
		color: black;
	}
	p {
		font-size: 10px;
	}
	h3 {
		font-size: 32;
	}
}

.flight-show-main-card-link {
	a {
		display: flex;
		text-decoration: none;
		color: white;
		justify-content: space-around;
		align-items: center;
		width: 324px;
		height: 60px;
		background-color: $fond-button;
		border-radius: 0 0 15px 15px;
		font-family: "Inter", sans-serif !important;
	}
}
// ------------------------------------------------------------------MAP
.flight-show-map_container {
	position: absolute;
	display: flex;
	justify-content: center;
	top: 100px;
	width: 350px;
	height: 300px;
	z-index: -1;
	pointer-events: none;
}

.flight-show-map_container iframe {
	border: dashed !important;
	border-radius: 15px !important;
	border-color: #4d9afe !important;
}

// ------------------------------------------------------------------DETAILS VOL
.flight-show-detail-main-container {
	display: flex;
	align-items: center;
	margin-top: 350px;
	flex-direction: column;
	gap: 20px;
	font-family: "Inter", sans-serif !important;
}

.departure-child {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

departure-child-depart {
	display: flex;
	flex-direction: column;
}

.departure-title p {
	text-decoration: underline;
}

.flight-show-detail-container {
	width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $fond-button;
	gap: 16px;
	border-radius: 15px;
	transition: ease-out 0.2s;
	h3 {
		margin-top: 16px;
		color: white !important;
	}
}

.flight-show-detail-info {
	display: flex;
	width: 100%;
	flex-direction: column;
	max-height: 550px;
	align-items: center;
	padding: 0 16px;
	text-align: center;
	transition: ease 0.2s;
	padding-top: 10px;
	background-color: #bbd7ff;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	h3 {
		color: white !important;
	}
}

.flight-show-detail-toggle {
	max-height: 0px;
	overflow: hidden;
	transition: ease 0.2s;
}

.flight-show-detail-departure {
	background-color: #4d9afe4a;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	width: 100%;
	p {
		margin: 10px 10px;
		text-align: center;
	}
}

.show-flight-personal-trajet {
	width: 100%;
	padding: 10px 20px;
	background-color: #4d9afe4a;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}

.show-flight-personal-trajet-duration {
	display: flex;
	flex-direction: column;
	align-items: center;
	p {
		margin-bottom: 0;
	}
}

// ------------------------------------------------------------------BUTTON
.flight-show-button {
	display: flex;
	gap: 8px;
	justify-content: center;
	height: max-content;
	padding: 70px 0;
	margin-bottom: 50px;
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		font-size: 18px;
		height: 36px;
		max-width: 340px;
		color: white;
		background-color: $fond-button;
		border-radius: 30px;
		padding: 20px 20px;
	}
}
